<nav>
    <div class="nav nav-pills pull-right">{{#if user}}

        <button type="button" class="btn btn-success" onclick="window.location.href='../dashboard'">Dashboard</button>
        <button type="button" class="btn btn-info" onclick="window.location.href='../information'">Information</button>
        <button type="button" class="btn btn-primary" onclick="window.location.href='../addQuiz'">Add Exam</button>
        <button type="button" class="btn btn-warning" onclick="window.location.href='../allQuizzes'">Grading Quiz</button>
        <button type="button" class="btn btn-danger" onclick="window.location.href='../logout'">Logout</button>
        {{/if}}
    </div>

</nav>
<div class="header clearfix">
    <h3 class="text">Add a Quiz</h3>
</div>
<div class="row">
    <form id="addingQuiz">
        <ul>
        <li><h4 class="text">
            The name of the Quiz:</h4>
        <textarea id="quiz-name" cols="50" rows="1"></textarea>
        </li>
        <li><h4 class="text">
            Total Score of this Quiz:</h4>
        <textarea id="quiz-score" cols="10" rows="1"></textarea>
        </li>
        </ul>
        <div class="alert alert-danger hidden" role="alert" id="score-error">The score must be numeric and larger than 0.</div>
        <ol class="questionArea">
            <h3 class="text">Write Your Questions Below.</h3>
            <li id="qId1">
                <h4 class="text">Question 1</h4>
                <textarea id="q1" cols="50"></textarea>
            </li>
        </ol>
        <button type="button" id="add-question" class="btn alert-info">Add Question</button>
        <button type="button" id="remove-question" class="btn alert-danger">Remove Question</button>
        <div class="alert alert-danger hidden" role="alert" id="error-container">You must have at least ONE question and ensure no blank left!</div>
        <button type="submit" class="btn btn-success keep-right">Submit</button>
    </form>
    <div class="alert alert-success hidden" role="alert" id="success-container">
        This quiz is created successfully!
        <a href="../dashboard">Back to Dashboard</a>
    </div>
</div>