<div class="row">
    <form id="addingQuiz">
      <ol> 
    <div class="row">
        <div class="questionArea">
            <div id="qId1"><label>Question 1 <textarea id="q1" cols="50"></textarea></label></div>
        </div>
        <input type="button" id="add-question" value="Add Question" />
        <input type="button" id="remove-question" value="Remove Question" />
    </div>
      </ol>
        <button type="submit" class="btn btn-success" style="float: right">Submit</button>
      </form>
</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
<script src="/js/ajax_jquery.js"></script>