 <nav>
          <ul class="nav nav-pills pull-right">{{#if user}}
            
          <button type="button" class="btn btn-success" onclick="window.location.href='../dashboard'">Dashboard</button>
          <button type="button" class="btn btn-info" onclick="window.location.href='../information'">Information</button>
          <button type="button" class="btn btn-primary" onclick="window.location.href='../addQuiz'">Add/Edit Exam</button>    
          <button type="button" class="btn btn-warning" onclick="window.location.href='../allQuizzes'">Grading Quiz</button>
          <button type="button" class="btn btn-danger" onclick="window.location.href='../logout'">Logout</button></br></br>
          {{/if}}
          </ul>
        </nav>
         <div class="header clearfix">
       
        <h3 class="text"> All Quizzes</h3>
      </div>
{{#each quizList}}
      <div class="row">
      <span><li>{{name}}</span>
      <button type="button" class="btn btn-success" onclick="window.location.href='../allSubmissions?quizId={{_id}}&quizName={{name}}'" style="float: right">Check</button>
      <hr class="style1"></li>
    </div>
{{/each}}