{{#if Student}}
 <h2 class="page-header">Dashboard</h2>

 
<button type="button" class="btn btn-info btn-lg btn-block" onclick="window.location.href='../information'">Information</button></br></br>
<button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href='../exam'">Exam</button></br></br>
<button type="button" class="btn btn-success btn-lg btn-block" onclick="window.location.href='../grades'">Grades</button></br></br>
<button type="button" class="btn btn-danger btn-lg btn-block" onclick="window.location.href='../logout'">logout</button></br></br>

{{/if}}

{{#if Teacher}}
 <h2 class="page-header">Dashboard</h2>

 
<button type="button" class="btn btn-info btn-lg btn-block" onclick="window.location.href='../information'">Information</button></br></br>
<button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href='../exam'">Add/Edit Exam</button></br></br>
<button type="button" class="btn btn-success btn-lg btn-block" onclick="window.location.href='../grades'">Grading Quiz</button></br></br>
<button type="button" class="btn btn-danger btn-lg btn-block" onclick="window.location.href='../logout'">logout</button></br></br>

{{/if}}