 <nav> 
          <div class="nav nav-pills pull-right">{{#if Student}}
            
          <button type="button" class="btn btn-success" onclick="window.location.href='../dashboard'">Dashboard</button>
          <button type="button" class="btn btn-info" onclick="window.location.href='../information'">Information</button>
          <button type="button" class="btn btn-primary" onclick="window.location.href='../exam'">Exam</button>    
          <button type="button" class="btn btn-warning" onclick="window.location.href='../grades'">Grades</button>
          <button type="button" class="btn btn-danger" onclick="window.location.href='../logout'">Logout</button>
          {{/if}}
          </div>

        </nav>
         <div class="header clearfix">
       
        <h3 class="text"> Exam</h3>   
      </div>
{{#each quizList}}
    <div class="row">
      <span>{{name}}</span>
      <button type="button" class="btn btn-success pull-right" onclick="window.location.href='../takeQuiz?quizId={{id}}'">View this quiz</button>
      <hr class="style1">
    </div>
{{/each}}