 {{#if Student}}
 <nav>
          <ul class="nav nav-pills pull-right">{{#if user}}
            
          <button type="button" class="btn btn-success" onclick="window.location.href='../dashboard'">Dashboard</button>
          <button type="button" class="btn btn-info" onclick="window.location.href='../information'">Information</button>
          <button type="button" class="btn btn-primary" onclick="window.location.href='../exam'">Exam</button>    
          <button type="button" class="btn btn-warning" onclick="window.location.href='../grades'">Grades</button>
          <button type="button" class="btn btn-danger" onclick="window.location.href='../logout'">Logout</button></br></br>
          {{/if}}
          </ul>
        </nav>
         <div class="header clearfix">
       
       <h3 class="text"> Information</h3> 
      </div>
<p class="info_text">CampusId: {{user.profile.campusId}}</p>       
<p class="info_text">Name: {{user.profile.name}}</p> 
{{/if}}

 {{#if Teacher}}
 <nav>
          <ul class="nav nav-pills pull-right">{{#if user}}
            
          <button type="button" class="btn btn-success" onclick="window.location.href='../dashboard'">Dashboard</button>
          <button type="button" class="btn btn-info" onclick="window.location.href='../information'">Information</button>
          <button type="button" class="btn btn-primary" onclick="window.location.href='../exam'">Exam</button>    
          <button type="button" class="btn btn-warning" onclick="window.location.href='../allQuizzes'">Grading Quiz</button>
          <button type="button" class="btn btn-danger" onclick="window.location.href='../logout'">Logout</button></br></br>
          {{/if}}
          </ul>
        </nav>
         <div class="header clearfix">
       
       <h3 class="text"> Information</h3> 
      </div>
<p class="info_text">Teacher ID: {{user.profile.campusId}}</p>       
<p class="info_text">Name: {{user.profile.name}}</p> 
{{/if}}
